.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 56%;
  height: 860px;
  overflow: hidden;

  box-sizing: border-box;

  padding-top: 206px;
  padding-bottom: 122px;

  border-radius: 15px;

  background-image: url("../..//images/slider.bc.png");
  background-position: center;
  background-size: cover;

  &__wraper {
    display: flex;
    width: 300%;
    transition: all 0.5s ease 0s;
  }

  &__window {
    width: 500px;
    margin: auto 0;
    overflow: hidden;
  }
}
